// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
    color: #333;
}
body p {
    font-size: 140%;
}

textarea {
    font-size: 140%;
    color: #333;
}

